.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
.display-flex {
  display: flex;
}

/* header */

header {
  padding: 50px 120px;
}

/* navbar */

nav {
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 34px;
}
nav ul li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 1rem;
  font-weight: 600;
}
.nav-search-icon {
  margin-right: 34px;
}
/* hero section */

.hero-section {
  justify-content: center;
  align-items: center;
  background-image: url(../images/circle-design.svg);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 88px 33px;
}

.hero-title {
  font-size: 52px;
  font-weight: bold;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-des {
  font-size: 16px;
  font-weight: 600px;
  color: #3a3a3a;
  margin-bottom: 16px;
}

.hero-buy-btn {
  padding: 10px 24px;
  background-color: #e02c6d;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.hero-cam-img {
  width: 100%;
}
/* main */

main section{
  margin: 0 auto;
  padding: 20px 160px;
}
.company-contaner{
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #a0a0a0;
}

/* Popular Collection */

.collection-contaner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  
}

.collection-card{
  padding: 18px;
  background-color: #fff;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}

.products-title{
  margin-top: 16px;
  margin-bottom: 6px;
  font-size: 28px;
  font-weight: 600;
}

.products-price{
  font-size: 24px;
  margin-top: 6px;
  margin-bottom: 5px;
  font-weight: normal;
  
}
.products-rating{
  font-size: 14px;
  font-weight: bold;
  color: rgba(94, 99, 102, 1);
  margin-top: 5px;
  margin-bottom: 5px;

}

.products-des{
  margin-top: 5px;
  margin-bottom: 5px;
  color:#787885;
  font-size: 14px;
  font-weight: bold;
}


.products-img{
  width: 100%;
}







@media screen and (max-width: 768px) {
  .hero-section {
    flex-direction: column-reverse;
    background-position: top center;
    background-size: 100%;
  }



  main section{
    margin: 0 auto;
    padding: 10px 10px;
  }

  header {
    padding: 10px 20px;
  }
  nav ul li {
    display: none;
    margin: 0;
    padding: 0;
  }

  .hero-title {
    font-size: 28px;
    margin-bottom: 16px;
  }
  .hero-des {
    text-align: center;
  }
  .hero-contant {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .collection-contaner{
    
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
    
  }



}
